<h1><!--%= t('.title') %-->Login Page</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :email, 'email address' %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, '(password)' %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "login", id: "create-session" %>
  </div>
<% end %>