<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
  <%= form.label :deadline_on %>
  <%= form.date_field :deadline_on %>
</div>

<div class="field">
  <%= form.label :priority %>
  <%= form.select :priority, Task.priorities.map { |k, _v| [t("enum.task.priority.#{k}"), k] }, selected: task.priority, include_blank: true %>
</div>

<div class="field">
  <%= form.label :status %>
  <%= form.select :status, Task.statuses.map { |k, _v| [t("enum.task.status.#{k}"), k] }, selected: task.status, include_blank: true %>
</div>

  <div class="actions">
    <% task_button_id = controller.action_name == "new" ? "create-task" : "update-task" %>
    <%= form.submit id: task_button_id %>
  </div>
<% end %>
