<h1><%= t('.title') %></h1>

<p>
  <strong><%= Task.human_attribute_name(:title) %>:</strong>
  <%= @task.titre %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:content) %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:created_at) %>:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:deadline_on) %>:</strong>
  <%= @task.deadline_on.strftime("%Y/%m/%d") %>    
</p>

<p>
  <strong><%= Task.human_attribute_name(:priority) %>:</strong>
  <%= t("enum.task.priority.#{@task.priority}") %>    
</p>

<p>
  <strong><%= Task.human_attribute_name(:status) %>:</strong>
  <%= t("enum.task.status.#{@task.status}") %>    
</p>

<p>
  <strong><% @task.labels.each do |label| %>Etiquette:</strong>
    <label><%= label.name %></label> 
  <% end %>
</p>

<%= link_to t('common.edit'), edit_task_path(@task), id: "edit-task", class:"btn btn-primary" %> |
<%= link_to t('common.back'), tasks_path, id: "back", class:"btn btn-primary" %>
