<h1><%= t('.title') %></h1>
<%= render 'form', user: @user %>

<%= link_to t('common.show'), @user %> |

<!--

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %> 件のエラーメッセージ </h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit t('helpers.submit.update', model: User.model_name.human), id: "update-user" %>
  </div>
<% end %>

<%= link_to t('common.back'), user_path(@user), id: 'back' %>-->