<h1><%= t('.title') %></h1>
<p>
  <strong><%= User.human_attribute_name(:name) %></strong>
  <%= @user.name %>
</p>
<p>
<strong><%= User.human_attribute_name(:email) %></strong>
  <%= @user.email %>
</p>

<%= link_to t('common.edit'), edit_user_path(@user), id: "edit-user", class:"btn btn-primary" %>
<%= link_to t('common.back'), tasks_path, id: "back", class:"btn btn-dark" %>




