<nav class="navbar bg-light">
    <% if logged_in? %>
    <p><strong>Connecté en tant que.<%= "" if current_user.admin? %> <%= current_user.name %></strong></p>
    <% end %>
    <ul class="navbar-nav">
        <% if logged_in? %>
        <% if current_user.admin? %>
          <li><%= link_to t('nav.users_index'), admin_users_path, id: "users-index" %></li>
          <li><%= link_to t('nav.registering_users'), new_admin_user_path, id: "add-user" %></li>
        <% end %>  
          <li><%= link_to t('nav.tasks_index'), tasks_path, id: "tasks-index" %></li>
          <li><%= link_to t('nav.new_task'), new_task_path, id: "new-task" %></li>
          <li><%= link_to t('nav.labels_index'), labels_path, id: "labels-index" %></li>
          <li><%= link_to t('nav.new_label'), new_label_path, id: "new-label" %></li>
          <li><%= link_to t('nav.account_details'), user_path(current_user.id), id: "my-account" %></li>
          <li><%= link_to "logout", session_path(current_user.id), method: :delete, id: "sign-out" %></li>
       
    <% else %>
       <li><%= link_to t('nav.account_registration'), new_user_path, id: "sign-up" %></li>
       <li><%= link_to t('nav.login'), new_session_path, id: "sign-in" %></li>
    <% end %>
    
        
    </ul > 
</nav>