<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>
  <body>
    <%= render "layouts/nav" %>
    <% if logged_in? %>
        <p><strong>Bienvenu <%= "" if current_user.admin? %> <%= current_user.name %></strong></p>
        <% end %>
    <div class="container mt-5">
    <%= yield %>
    <div>
  </body>
</html>
